127.0.0.1 localhost

# The following lines are desirable for IPv6 capable hosts
::1 ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts

54.201.196.116 tag_Name_master_0 10.0.0.10 ip-10-0-0-10 ip-10-0-0-10.us-west-2.compute.internal
52.34.90.95 tag_Name_master_1 10.0.0.11 ip-10-0-0-11 ip-10-0-0-11.us-west-2.compute.internal
34.220.201.63 tag_Name_master_2 10.0.0.12 ip-10-0-0-12 ip-10-0-0-12.us-west-2.compute.internal