kubectl config set-cluster {{NAME}} \
  --certificate-authority=ca.pem \
  --embed-certs=true \
  --server=https://{{KUBERNETES_API_SERVER_ADDRESS}}:6443 

kubectl config set-credentials admin \
  --client-certificate=admin.pem \
  --client-key=admin-key.pem

kubectl config set-context kubernetes \
  --cluster={{NAME}} \
  --user=admin

kubectl config use-context kubernetes